  <form class="example-form container" [formGroup]="formEndereco">
    <mat-form-field class="example-full-width">
      <mat-label>Rua</mat-label>
      <input matInput placeholder="Rua" formControlName="rua">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Complemento</mat-label>
      <input matInput placeholder="Complemento" formControlName="complemento">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Número</mat-label>
      <input matInput placeholder="Número" formControlName="numero">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>CEP</mat-label>
      <input matInput placeholder="CEP" formControlName="cep">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="Cidade" formControlName="cidade">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Estado</mat-label>
      <input matInput placeholder="Estado" formControlName="estado">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="Bairro" formControlName="bairro">
    </mat-form-field>
  </form>
