<div class="flex flex-col items-center mt-4 min-h-full">
  <h1>Finalize Seu Pedido!</h1>
  <form class="example-form" [formGroup]="formPedido">
    <mat-form-field class="example-full-width mr-3">
      <mat-label>Pagamento</mat-label>
      <mat-select formControlName="pagamento">
        <mat-option>Pagamento</mat-option>
        <mat-option value="CARTAO_CREDITO">Cartão</mat-option>
        <mat-option value="DINHEIRO">Dinheiro</mat-option>
        <mat-option value="PIX">Pix</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Parcelas</mat-label>
      <mat-select formControlName="parcelas">
        <mat-option>Parcelas</mat-option>
        <mat-option value="1">1x</mat-option>
        <mat-option value="2">2x</mat-option>
        <mat-option value="3">3x</mat-option>
        <mat-option value="4">4x</mat-option>
        <mat-option value="5">5x</mat-option>
        <mat-option value="6">6x</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mb-5 ">
      <p>Valor Total: {{total | currency}}</p>
    </div>
    <div class="flex flex-col mb-2" *ngIf="estaVazio == false">
      <button
        class="text-lg font-medium mb-3 text-white bg-slate-500 hover:bg-slate-600 transition duration-300 py-1 rounded-md"
        (click)="salvarPedido()">
        Finalizar Pedido
      </button>
    </div>
    <div>
      <ul *ngFor="let item of itens">
        <li class="text-base mb-2">
          Produto: {{ item.produto.nomeProduto }}
        </li>
        <li class="text-base mb-2">
          Preço: {{ item.produto.precoUnitario | currency : "BRL" }}
        </li>
        <li class="text-base mb-2">
          Quantidade: {{ item.quantidade }}
        </li>
        <div class="mb-4 mt-4">
          <button
            class="flex items-center justify-center w-full font-medium text-lg mb-3 text-white bg-slate-500 hover:bg-slate-600 transition duration-300 py-1 rounded-md"
            (click)="excluirItemDoCarrinho(item.produto.id)">
            <mat-icon>delete</mat-icon>
            Excluir
          </button>
        </div>
      </ul>
    </div>
  </form>
</div>