mat-form-field{
  width: 22rem;
  margin: 10px;
}

.center {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao {
  margin-left: 10px;
}