<div class="flex mt-9 mb-4 flex-col items-center min-h-full">
  <h1>Cadastro de Produto</h1>
  <form class="grid grid-cols-2 example-form" [formGroup]="formProduto">
    <mat-form-field class="example-full-width">
      <mat-label>Nome Produto</mat-label>
      <input style="border-radius: 50px;" matInput placeholder="Nome do produto" formControlName="nomeProduto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Descrição do produto" formControlName="descricao">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Preço</mat-label>
      <input matInput placeholder="Preço do produto" formControlName="preco">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Quantidade no Estoque</mat-label>
      <input matInput placeholder="Quantidade no Estoque" formControlName="estoque">
    </mat-form-field>

    <div class="ml-2">
      <button class="py-2 px-5 text-sm font-medium rounded-md text-white bg-slate-500 hover:bg-slate-600 transition duration-300" (click)="salvarProduto()">Salvar</button>
    </div>
  </form>
</div>
