.card-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 30px;
}

.example-card {
  width: 300px;
  height: 300px;
  margin: 10px;
  box-sizing: border-box; 
  overflow: hidden;
}

.produto-descricao {
  font-size: 16px;
  margin: 0; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.produto-preco {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 0; 
}
