<mat-toolbar *ngIf="estaLogado">
  <span>Vendas</span>
  <button class="sm:invisible" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="m-2 cursor-pointer ">
      <a routerLink="home" mat-menu-item>Home</a>
    </div>
    <button mat-menu-item [matMenuTriggerFor]="submenu">
      <span>Produto</span>
    </button>
    <mat-menu #submenu="matMenu">
      <button routerLink="produto/cadastrar" mat-menu-item>
        <span>Cadastrar</span>
      </button>
      <button routerLink="produto" mat-menu-item>
        <span>Listar</span>
      </button>
    </mat-menu>
    <div class="no-underline m-2 cursor-pointer ">
      <a class="" routerLink="pedido" mat-menu-item>Pedidos</a>
    </div>
    <div class="no-underline m-2 cursor-pointer ">
      <a (click)="sair()" style="cursor: pointer" mat-menu-item>Sair</a>
    </div>
  </mat-menu>
  <div class="relative">
    <input class="w-full p-1 text-base rounded-lg outline-none pr-14 pb-2 pt-2" type="text"
      placeholder="Procure por um produto" [(ngModel)]="inputValue" name="inputValue"  />
    <button class="absolute inset-y-0 right-0 flex items-center justify-center px-2" (click)="pesquisar()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="md:flex ml-auto hidden">
    <div class="no-underline cursor-pointer mr-3">
      <a class="p-2 rounded-md transition-colors duration-500 hover:bg-slate-400" routerLink="home">Home</a>
    </div>
    <div class="no-underline cursor-pointer mr-3">
      <mat-list-item>
        <a class="p-2 rounded-md transition-colors duration-500 hover:bg-slate-400" [matMenuTriggerFor]="produto">
          Produto
        </a>
        <mat-menu #produto="matMenu">
          <button routerLink="produto/cadastrar" mat-menu-item>
            Cadastrar
          </button>
          <button routerLink="produto" mat-menu-item>Listar</button>
        </mat-menu>
      </mat-list-item>
    </div>
    <div class="no-underline cursor-pointer mr-3">
      <a class="p-2 rounded-md transition-colors duration-500 hover:bg-slate-400"
        routerLink="pedido">Pedidos</a>
    </div>
    <div class="no-underline cursor-pointer mr-3">
      <a class="p-2 rounded-md transition-colors duration-500 hover:bg-slate-400" (click)="sair()"
        style="cursor: pointer">Sair</a>
    </div>
  </div>
  <div class="flex justify-end cursor-pointer w-screen md:w-min mr-2">
    <a routerLink="pedido/finalizar" style="cursor: pointer;"><mat-icon matBadge="{{ tamanho }}"
        matBadgeColor="warn">shopping_cart</mat-icon></a>
  </div>
</mat-toolbar>