<mat-toolbar style="height: 80px;" color="primary" *ngIf="estaLogado">
  <span>Vendas</span>
  <button class="sm:invisible" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="m-2 cursor-pointer ">
      <a routerLink="home" mat-menu-item>Home</a>
    </div>
    <button mat-menu-item [matMenuTriggerFor]="submenu">
      <span>Produto</span>
    </button>
    <mat-menu #submenu="matMenu">
      <button routerLink="produto/cadastrar" mat-menu-item>
        <span>Cadastrar</span>
      </button>
      <button routerLink="produto" mat-menu-item>
        <span>Listar</span>
      </button>
    </mat-menu>
    <div class="no-underline m-2 cursor-pointer ">
      <a class="" routerLink="pedido/detalhes" mat-menu-item>Pedidos</a>
    </div>
    <div class="no-underline m-2 cursor-pointer ">
      <a (click)="sair()" style="cursor: pointer" mat-menu-item>Sair</a>
    </div>
  </mat-menu>
  <div class="mt-5">
      <mat-form-field class="w-48 sm:w-96">
        <input matInput placeholder="Procure por um produto" [(ngModel)]="inputValue" name="inputValue"  />
        <button class="example-full-width" mat-button matSuffix (click)="pesquisar()" color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
  </div>
  <div class="md:flex ml-auto hidden">
    <div class="no-underline m-2 cursor-pointer ">
      <a class="" routerLink="home">Home</a>
    </div>
    <div class="no-underline m-2 cursor-pointer">
      <mat-list-item>
        <a class="text-slate-50" [matMenuTriggerFor]="produto">
          Produto
        </a>
        <mat-menu #produto="matMenu">
          <button routerLink="produto/cadastrar" mat-menu-item>
            Cadastrar
          </button>
          <button routerLink="produto" mat-menu-item>Listar</button>
        </mat-menu>
      </mat-list-item>
    </div>
    <div class="no-underline m-2 cursor-pointer">
      <a routerLink="pedido/detalhes">Pedidos</a>
    </div>
    <div class="mr-5 no-underline m-2 cursor-pointer">
      <a (click)="sair()" style="cursor: pointer">Sair</a>
    </div>
  </div>
  <div class="flex justify-end cursor-pointer w-screen md:w-min mr-2">
    <a routerLink="pedido" style="cursor: pointer;"><mat-icon matBadge="{{ tamanho }}"
        matBadgeColor="warn">shopping_cart</mat-icon></a>
  </div>
</mat-toolbar>