<h1 style="display: flex; justify-content: start; margin-left: 20px; margin-top: 10px;">Listagem de Usuários</h1>
<div class="card-container">
  <mat-card class="example-card" *ngFor="let usuario of usuarios">
    <div class="card-content">
      <mat-card-content style="margin-top: 20px;">
        <div>
          <p class="produto-descricao">
            {{usuario.login}}
          </p>
          <p class="produto-preco">
            {{usuario.admin}}
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="chamarEdicao(usuario)" >
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item >
            <mat-icon>delete</mat-icon>
            <span>Excluir</span>
          </button>   
         </mat-menu>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
